		<article id="<%= detailRequest.character.uri %>" class="character detail">
			<div>
				<header>
					<h2><%= detailRequest.character.name %></h2>
					<span><%= detailRequest.character.role %></span>
				</header>
				<ul>
					<li><h3><img src="<%= dataSite.uri.rootAsset %>steamworld-heist/global/decal-health.png" width="36" height="39" title="<%= dataSite[detailPage.lang].term.charHealth %>" alt="<%= dataSite[detailPage.lang].term.charHealth %>"></h3><%= detailRequest.character.hp %></li>
					<li><h3><img src="<%= dataSite.uri.rootAsset %>steamworld-heist/global/decal-movement-speed.png" width="36" height="39" title="<%= dataSite[detailPage.lang].term.charMove %>" alt="<%= dataSite[detailPage.lang].term.charMove %>"></h3><%= detailRequest.character.move %></li>
					<li><h3><img src="<%= dataSite.uri.rootAsset %>steamworld-heist/global/decal-gun-damage.png" width="36" height="39" title="<%= dataSite[detailPage.lang].term.charGun %>" alt="<%= dataSite[detailPage.lang].term.charGun %>"></h3><%= detailRequest.character.dmg %></li>
					<li><h3><img src="<%= dataSite.uri.rootAsset %>steamworld-heist/global/decal-melee-damage.png" width="36" height="39" title="<%= dataSite[detailPage.lang].term.charMelee %>" alt="<%= dataSite[detailPage.lang].term.charMelee %>"></h3><%= detailRequest.character.melee %></li>
				</ul>
				<div>
					<h3 class="vishide"><%= dataSite[detailPage.lang].term.charDesc %></h3>
					<p><%= detailRequest.character.desc %></p>
				</div>
			</div>
			<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/characters/<%= detailRequest.character.asset %>-character-decal.png" width="169" height="173" alt="">
		</article>
		
		<section class="ability list">
			<h2 class="vishide"><% if (detailPage.lang == "en") { %>Abilities<% } else { %>Capacités<% }; %></h2>
			
			<% detailRequest.order.forEach((ability) => { %><article>
				<header>
					<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/abilities/<%= ability.asset %>-ability-decal.png" width="60" height="60" alt="">
					<div>
						<h3><%= ability.name %></h3>
						<span><% if (ability.type == "Cooldown") { %><%= dataSite[detailPage.lang].term.abilCool.replace("[COUNT]",ability.count) %><% } else if (ability.type == "Consumable") { %><%= dataSite[detailPage.lang].term.abilCons.replace("[COUNT]",ability.count) %><% } else { { %><%= dataSite[detailPage.lang].term.abilPass %><% } }; %></span>
					</div>
				</header>
				<p><%= ability.desc %></p>
				<p><% if (ability.level == 0) {%><%= dataSite[detailPage.lang].term.abilStart %><% } else { %><%= dataSite[detailPage.lang].term.abilLevel.replace("[LEVEL]",ability.level) %><% }; %></p>
			</article><% }) %>
		</section>