		<a href="<%= detailPage.uri[detailPage.lang].substring(0, detailPage.uri[detailPage.lang].lastIndexOf("/")); %>"><%= dataSite[detailPage.lang].term.hatAll %></a>

		<article id="<%= detailRequest.hat.uri %>" class="list entry hat">
			<div>
				<header>
					<h2><%= detailRequest.hat.name %></h2>
					<span><%= detailRequest.hat.class %></span>
				</header>
				<div>
					<h3 class="vishide"><%= dataSite[detailPage.lang].term.genDesc %></h3>
					<p><%= detailRequest.hat.desc %></p>
				</div>
			</div>
			<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/hats/<%= detailRequest.hat.asset %>-hat-decal.png" width="84" height="84" alt="">
		</article>
		
		<section class="enemy list">
			<h2><%= dataSite[detailPage.lang].term.hatAvail %></h2>
			<p><%= dataSite[detailPage.lang].term.genConstruct %></p>
		</section>