		<a href="<%= detailPage.uri[detailPage.lang].substring(0, detailPage.uri[detailPage.lang].lastIndexOf("/")); %>"><%= dataSite[detailPage.lang].term.hatAll %></a>

		<article id="<%= detailRequest.hat.uri %>" class="hat list">
			<div>
				<header>
					<h2><%= detailRequest.hat.name %></h2>
					<span><%= detailRequest.hat.class %></span>
				</header>
				<p><%= detailRequest.hat.desc %></p>
			</div>
			<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/hats/<%= detailRequest.hat.asset %>-hat-decal.png" width="84" height="84" alt="">
		</article>
		
		<section>
			<h2><% if (detailPage.lang == "en") { %>Available From<% } else { %>Disponible depuis<% }; %></h2>
			<p><% if (detailPage.lang == "en") { %>Under construction.<% } else { %>En construction.<% }; %></p>
		</section>