		<% detailRequest.order.forEach((hat) => { %><article id="<%= hat.uri %>" class="list entry hat">
			<div>
				<header>
					<a href="<%= detailPage.uri[detailPage.lang] + "/" + hat.uri %>"><h2><%= hat.name %></h2></a>
					<span><%= hat.class %></span>
				</header>
				<div>
					<h3 class="vishide"><%= dataSite[detailPage.lang].term.genDesc %></h3>
					<p><%= hat.desc %></p>
				</div>
			</div>
			<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/hats/<%= hat.asset %>-hat-decal.png" width="84" height="84" alt="">
		</article><% }) %>