<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Select Language / Choisir la langue">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= dataSite.en.title %>: Select Language / <%= dataSite.fr.title %> : Choisir la langue</title>

	<link rel="alternate" hreflang="en" href="<%= dataSite.uri.rootSite %>/en" />
	<link rel="alternate" hreflang="fr" href="<%= dataSite.uri.rootSite %>/fr" />

	<link rel="stylesheet" type="text/css" href="<%= dataSite.uri.rootAsset %>steamworld-heist.css" />	
</head>
<body>
	<header>
		<h1><img src="<%= dataSite.uri.rootAsset %>steamworld-heist/global/steamworld-heist-logo.png" width="139" height="90" title="<%= dataSite.en.game %>" alt="<%= dataSite.en.game %>"></h1>
		<nav aria-labelledby="selectlanguage">
			<h2 id="selectlanguage" class="vishide">Select Language / Choisir la langue</h2>
			<ul role="menubar">
				<li role="menuitem"><a href="/en"><abbr title="English">EN</abbr></a></li>
				<li role="menuitem"><a href="/fr"><abbr title="Français">FR</abbr></a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<header>
			<nav class="sticky" aria-labelledby="navsite">
				<h2 id="navsite" class="vishide"><%= dataSite.en.term.labNavSite %></h2>
				<ul role="menubar">
					<li role="menuitem"><a href="/en">English</a></li>
					<li role="menuitem"><a href="/fr">Français</a></li>
				</ul>
			</nav>
		</header>

		<h2>Select Language / Choisir la langue</h2>
			
		<nav>
			<a href="/en" hreflang="en">English</a>
			<a href="/fr" hreflang="fr">Français</a>
		</nav>

		<footer>
			<h2 class="vishide"><%= dataSite.en.term.labLegal %></h2>
			<div><%- dataSite.en.disc %></div>
		</footer>
	</main>

	<script src="<%= dataSite.uri.rootAssetGlobal %>jquery-3.3.1.min.js"></script>
	<script src="<%= dataSite.uri.rootAsset %>mmox.js"></script>
</body>
</html>