		<article id="battle" class="txt">
			<header>
				<a href="<%= detailPage.uri[detailPage.lang] %>/battles"><h2>Battle Stages</h2></a>
				<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/stages/banner-battle-stage.png" width="750" height="185" title="Battle Stages" alt="">
			</header>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ligula ornare, bibendum nisl ut, molestie ligula. Nunc mollis sodales eros, sed dictum nulla ultricies ut. Aenean id libero eu odio volutpat aliquam. Sed sollicitudin velit id lacus porttitor sodales. Ut rhoncus nunc id nisi mattis auctor. Donec quis tellus eget neque condimentum tristique. Donec vel urna sit amet nibh cursus tristique ultricies eu odio. Nunc nec malesuada velit, eu ultricies lectus. Duis at orci et augue convallis dignissim. Nam pellentesque condimentum auctor. Nunc ullamcorper lectus ac congue tristique.</p>
				<p>Fusce turpis libero, pretium eu lectus nec, tincidunt interdum leo. Integer et varius ipsum, tempus tincidunt libero. Suspendisse et erat malesuada justo dignissim lobortis. Vivamus suscipit in nulla at gravida. Pellentesque vestibulum iaculis ante, ac maximus odio viverra et. Nulla sagittis rutrum turpis in rhoncus. Quisque mi diam, mollis lobortis nisi vel, vulputate hendrerit leo. Mauris ac turpis imperdiet lectus malesuada efficitur eget ac urna. Mauris in convallis quam. Morbi et imperdiet ante. In finibus, ante at imperdiet auctor, justo est posuere nulla, ut consectetur libero risus at dui. Quisque sit amet nisi eget mauris lobortis rhoncus et id velit. Curabitur dolor sapien, ultricies vitae elementum eget, sagittis quis dui. Sed ut scelerisque eros. Nulla viverra tincidunt mollis.</p>
			</div>
		</article>

		<article id="boss" class="txt">
			<header>
				<a href="<%= detailPage.uri[detailPage.lang] %>/bosses"><h2>Boss Battles</h2></a>
				<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/stages/banner-battle-stage.png" width="750" height="185" title="Battle Stages" alt="">
			</header>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ligula ornare, bibendum nisl ut, molestie ligula. Nunc mollis sodales eros, sed dictum nulla ultricies ut. Aenean id libero eu odio volutpat aliquam. Sed sollicitudin velit id lacus porttitor sodales. Ut rhoncus nunc id nisi mattis auctor. Donec quis tellus eget neque condimentum tristique. Donec vel urna sit amet nibh cursus tristique ultricies eu odio. Nunc nec malesuada velit, eu ultricies lectus. Duis at orci et augue convallis dignissim. Nam pellentesque condimentum auctor. Nunc ullamcorper lectus ac congue tristique.</p>
				<p>Fusce turpis libero, pretium eu lectus nec, tincidunt interdum leo. Integer et varius ipsum, tempus tincidunt libero. Suspendisse et erat malesuada justo dignissim lobortis. Vivamus suscipit in nulla at gravida. Pellentesque vestibulum iaculis ante, ac maximus odio viverra et. Nulla sagittis rutrum turpis in rhoncus. Quisque mi diam, mollis lobortis nisi vel, vulputate hendrerit leo. Mauris ac turpis imperdiet lectus malesuada efficitur eget ac urna. Mauris in convallis quam. Morbi et imperdiet ante. In finibus, ante at imperdiet auctor, justo est posuere nulla, ut consectetur libero risus at dui. Quisque sit amet nisi eget mauris lobortis rhoncus et id velit. Curabitur dolor sapien, ultricies vitae elementum eget, sagittis quis dui. Sed ut scelerisque eros. Nulla viverra tincidunt mollis.</p>
			</div>
		</article>

		<article id="shop" class="txt">
			<header>
				<a href="<%= detailPage.uri[detailPage.lang] %>/shops"><h2>Shops</h2></a>
				<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/stages/banner-battle-stage.png" width="750" height="185" title="Battle Stages" alt="">
			</header>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ligula ornare, bibendum nisl ut, molestie ligula. Nunc mollis sodales eros, sed dictum nulla ultricies ut. Aenean id libero eu odio volutpat aliquam. Sed sollicitudin velit id lacus porttitor sodales. Ut rhoncus nunc id nisi mattis auctor. Donec quis tellus eget neque condimentum tristique. Donec vel urna sit amet nibh cursus tristique ultricies eu odio. Nunc nec malesuada velit, eu ultricies lectus. Duis at orci et augue convallis dignissim. Nam pellentesque condimentum auctor. Nunc ullamcorper lectus ac congue tristique.</p>
				<p>Fusce turpis libero, pretium eu lectus nec, tincidunt interdum leo. Integer et varius ipsum, tempus tincidunt libero. Suspendisse et erat malesuada justo dignissim lobortis. Vivamus suscipit in nulla at gravida. Pellentesque vestibulum iaculis ante, ac maximus odio viverra et. Nulla sagittis rutrum turpis in rhoncus. Quisque mi diam, mollis lobortis nisi vel, vulputate hendrerit leo. Mauris ac turpis imperdiet lectus malesuada efficitur eget ac urna. Mauris in convallis quam. Morbi et imperdiet ante. In finibus, ante at imperdiet auctor, justo est posuere nulla, ut consectetur libero risus at dui. Quisque sit amet nisi eget mauris lobortis rhoncus et id velit. Curabitur dolor sapien, ultricies vitae elementum eget, sagittis quis dui. Sed ut scelerisque eros. Nulla viverra tincidunt mollis.</p>
			</div>
		</article>

		<article id="bar" class="txt">
			<header>
				<a href="<%= detailPage.uri[detailPage.lang] %>/bars"><h2>Bars</h2></a>
				<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/stages/banner-battle-stage.png" width="750" height="185" title="Battle Stages" alt="">
			</header>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ligula ornare, bibendum nisl ut, molestie ligula. Nunc mollis sodales eros, sed dictum nulla ultricies ut. Aenean id libero eu odio volutpat aliquam. Sed sollicitudin velit id lacus porttitor sodales. Ut rhoncus nunc id nisi mattis auctor. Donec quis tellus eget neque condimentum tristique. Donec vel urna sit amet nibh cursus tristique ultricies eu odio. Nunc nec malesuada velit, eu ultricies lectus. Duis at orci et augue convallis dignissim. Nam pellentesque condimentum auctor. Nunc ullamcorper lectus ac congue tristique.</p>
				<p>Fusce turpis libero, pretium eu lectus nec, tincidunt interdum leo. Integer et varius ipsum, tempus tincidunt libero. Suspendisse et erat malesuada justo dignissim lobortis. Vivamus suscipit in nulla at gravida. Pellentesque vestibulum iaculis ante, ac maximus odio viverra et. Nulla sagittis rutrum turpis in rhoncus. Quisque mi diam, mollis lobortis nisi vel, vulputate hendrerit leo. Mauris ac turpis imperdiet lectus malesuada efficitur eget ac urna. Mauris in convallis quam. Morbi et imperdiet ante. In finibus, ante at imperdiet auctor, justo est posuere nulla, ut consectetur libero risus at dui. Quisque sit amet nisi eget mauris lobortis rhoncus et id velit. Curabitur dolor sapien, ultricies vitae elementum eget, sagittis quis dui. Sed ut scelerisque eros. Nulla viverra tincidunt mollis.</p>
			</div>
		</article>

		<article id="gate" class="txt">
			<header>
				<a href="<%= detailPage.uri[detailPage.lang] %>/gates"><h2>Gates</h2></a>
				<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/stages/banner-battle-stage.png" width="750" height="185" title="Battle Stages" alt="">
			</header>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ligula ornare, bibendum nisl ut, molestie ligula. Nunc mollis sodales eros, sed dictum nulla ultricies ut. Aenean id libero eu odio volutpat aliquam. Sed sollicitudin velit id lacus porttitor sodales. Ut rhoncus nunc id nisi mattis auctor. Donec quis tellus eget neque condimentum tristique. Donec vel urna sit amet nibh cursus tristique ultricies eu odio. Nunc nec malesuada velit, eu ultricies lectus. Duis at orci et augue convallis dignissim. Nam pellentesque condimentum auctor. Nunc ullamcorper lectus ac congue tristique.</p>
				<p>Fusce turpis libero, pretium eu lectus nec, tincidunt interdum leo. Integer et varius ipsum, tempus tincidunt libero. Suspendisse et erat malesuada justo dignissim lobortis. Vivamus suscipit in nulla at gravida. Pellentesque vestibulum iaculis ante, ac maximus odio viverra et. Nulla sagittis rutrum turpis in rhoncus. Quisque mi diam, mollis lobortis nisi vel, vulputate hendrerit leo. Mauris ac turpis imperdiet lectus malesuada efficitur eget ac urna. Mauris in convallis quam. Morbi et imperdiet ante. In finibus, ante at imperdiet auctor, justo est posuere nulla, ut consectetur libero risus at dui. Quisque sit amet nisi eget mauris lobortis rhoncus et id velit. Curabitur dolor sapien, ultricies vitae elementum eget, sagittis quis dui. Sed ut scelerisque eros. Nulla viverra tincidunt mollis.</p>
			</div>
		</article>