		<% detailRequest.order.forEach((battle) => { %><article id="<%= battle.uri %>" class="stage battle list">
			<div>
				<header>
					<a href="<%= detailPage.uri[detailPage.lang] + "/" + battle.uri %>"><h2><%= battle.name %></h2></a>
					<span class="<%= battle.region[1] %>"><%= battle.region[0] %></span>
					<% if(battle.challenge) { %><img src="<%= dataSite.uri.rootAsset %>steamworld-heist/stages/decal-stage-challenge.png" width="43" height="48" alt="Challenge Mission"><% } %>
				</header>
				<ul>
					<li><% for(let i = 0; i < battle.attr[0]; i++) { %><img src="<%= dataSite.uri.rootAsset %>steamworld-heist/stages/decal-stage-epic-loot.png" width="74" height="77" alt=""><% } %><span><% if (battle.attr[0] == 1) { %><%= dataSite[detailPage.lang].term.stageBattleEpic[0] %><% } else { %><%= dataSite[detailPage.lang].term.stageBattleEpic[1].replace("[NUMBER]",battle.attr[0]) %><% } %></span></li>
					<% if(battle.attr[1]) { %><li><% for(let i = 0; i < battle.attr[1]; i++) { %><img src="<%= dataSite.uri.rootAsset %>steamworld-heist/stages/decal-stage-character.png" width="74" height="77" alt=""><% } %><span><% if (battle.attr[1] == 1) { %><%= dataSite[detailPage.lang].term.stageBattleChar[0] %><% } else { %><%= dataSite[detailPage.lang].term.stageBattleChar[1].replace("[NUMBER]",battle.attr[1]) %><% } %></span></li><% } %>
					<% if(battle.attr[2]) { %><li><% for(let i = 0; i < battle.attr[2]; i++) { %><img src="<%= dataSite.uri.rootAsset %>steamworld-heist/stages/decal-stage-star.png" width="74" height="77" alt=""><% } %><span><% if (battle.attr[2] == 1) { %><%= dataSite[detailPage.lang].term.stageBattleStar[0] %><% } else { %><%= dataSite[detailPage.lang].term.stageBattleStar[1].replace("[NUMBER]",battle.attr[2]) %><% } %></span></li><% } %>
				</ul>
				<div>
					<h3 class="vishide"><%= dataSite[detailPage.lang].term.genDesc %></h3>
					<p><%= battle.desc %></p>
				</div>
			</div>
			<img src="<%= dataSite.uri.rootAsset %>steamworld-heist/stages/<%= battle.asset %>" width="169" height="169" alt="">
		</article><% }) %>